
@primary-color: #0CF;
@title-color: #F96;
@subtitle-color: #777;
@contact-color: #F9F9F9;

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	background: @primary-color;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact {
	background: @contact-color;
	padding:25px;
	margin:50px 0;
	h3 {
		color: @title-color;
		display: block;
		font-size: 30px;
		font-weight: 400;
	}	
	h4 {
		margin:5px 0 15px;
		display:block;
		font-size:13px;
		color: @subtitle-color;
	}
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact textarea {
	height:100px;
	max-width:100%;
  	resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: @primary-color;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

@media screen and (max-width: 767px) {
	.container {
		width:100%;
		max-width: 100%;
	}
	#contact {
		margin:0px;
	}
	body {
		background: @contact-color;
	}
}